body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #040f64;
    color: white;
}

.header-photo img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.lab {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    background-color: #fff;
}

.lab-btn {
    text-decoration: none;
    color: #091041;
    border: 2px solid #08104b;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.2s;
}

.lab-btn:hover,
.lab-btn.active {
    background-color: #0923f0;
    color: white;
}

.lab1-main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.lab-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.lab-item {
    padding: 10px;
    background: #ececec;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
}

.lab-item.active {
    background: #b4d2ff;
}

.lab-display {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.lab-section {
    display: none;
}

.lab-section.active {
    display: block;
}

pre {
    background: #222;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

